$colors: (
  primary-text: #220c10ff,
  secondary-text: #506c64ff,
  tiffany: #77CBB9FF,
  moonstone: #75B8C8FF,
  background: #CDD3D5FF,
  white: #ffffff,
  black: #000000,
);

$typography: (
  font: 'Geist',
  font-size-base: 16px,
  line-height-base: 1.5,
  font-weight-regular: 400,
  font-weight-bold: 700,
  font-size-small: 14px,
  font-size-large: 18px,
);

$spacings: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px,
  xxl: 40px,
);

$border-radius: (
  none: 0px,
  small: 4px,
  medium: 8px,
  large: 16px,
  rounded: 50%,
);

$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$z-index: (
  base: 1,
  dropdown: 5
);
