@use 'sass:map';
@use 'variables';
@use 'mixins';
@use 'reset';

:root {
  --font-family: var(--font-roboto-mono), monospace;
}

body {
  min-height: 100vh;
  font-family: var(--font-roboto-mono), monospace;
  position: relative; // Устанавливаем относительное позиционирование
  margin: 0;
  padding: 0;
  z-index: 0; // Задаём базовый контекст

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/bodyBg.webp');
    background-size: 30%;
    background-repeat: repeat;
    opacity: 0.15;
    z-index: -1;
    pointer-events: none;
  }
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

[class^='ant-'],
[class*=' ant-'] {
  font-family: var(--font-family), monospace !important;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  gap: map.get(variables.$spacings, sm);

  &__item {
    margin: 0;
    width: 100%;
  }

  &__buttons-container {
    display: flex;
    justify-content: flex-end;
    gap: map.get(variables.$spacings, sm);
  }
}

.global {
  &__link {
    font-size: map.get(variables.$typography, font-size-base);
    color: map.get(variables.$colors, primary-text);
    transition: all 0.3s ease;
    text-decoration: underline;
  }

  &__link:hover {
    opacity: 0.6;
  }
}
