@use 'sass:map';
@use '@/styles/variables';
@use '@/styles/mixins';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: map.get(variables.$spacings, md);
  gap: map.get(variables.$spacings, md);

  &__post {
    padding: 25px;
    background-color: rgba(34, 12, 16, 0.1);
    width: 100%;
  }

  &__postContent {
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 768px;
    white-space: pre-line;
    gap: map.get(variables.$spacings, md);
    min-height: 30vh;



    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol {
      margin: 0;
      margin-bottom: 5px;
      list-style: '-';
      padding-left: 15px;

      li {
        padding-left: 5px;
      }
    }

    blockquote {
      border-left: 5px solid #ccc;
      background-color: #f9f9f9;
      font-style: italic;
      color: #555;
    }

    blockquote::before {
      content: '“';
      font-size: 2em;
      line-height: 0.1em;
      vertical-align: -0.4em;
      color: #ccc;
    }

    blockquote::after {
      content: '”';
      font-size: 2em;
      line-height: 0.1em;
      vertical-align: -0.4em;
      color: #ccc;
    }

    p {
      margin: 0;
    }

    img {
      max-width: 100%;
      max-height: 60vh;
      margin: 0 auto;
    }
  }
}
