@use 'sass:map';
@use '@/styles/variables';
@use '@/styles/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: map.get(variables.$spacings, md);
  background-color: map.get(variables.$colors, moonstoneBg);

  color: map.get(variables.$colors, text);
  padding: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: map.get(variables.$spacings, md);
  }

  &__logo {
    &_size_full {
      display: block;
    }

    &_size_small {
      display: none;
    }

    @include mixins.mobile-md {
      &_size_full {
        display: none;
      }

      &_size_small {
        display: block;
      }
    }
  }
}
