@use 'sass:map';
@use '@/styles/variables';
@use '@/styles/mixins';

.button {

  &.link {
    border: none;
    text-decoration: underline;
    color: inherit;
    background: none;
    padding: 0;
  }

  &.primary {
    background-color: map.get(variables.$colors, secondary-text);
  }

  &.primary:hover {
    background-color: map.get(variables.$colors, secondary-text)!important;
    opacity: 0.8;
  }
}
