@use 'sass:map';
@use '@/styles/variables';
@use '@/styles/mixins';

.button {
  transition: all 0.3s ease;
  &.link {
    border: none;
    text-decoration: underline;
    font-size: map.get(variables.$typography, font-size-base);
    color: map.get(variables.$colors, primary-text);
    background: none;
    padding: 0;
  }
  &.link:hover {
    opacity: 0.6;
    color: map.get(variables.$colors, primary-text) !important;
  }

  &.primary {
    background-color: map.get(variables.$colors, secondary-text);
  }

  &.primary:hover {
    background-color: map.get(variables.$colors, secondary-text) !important;
    opacity: 0.6;
  }
}
